p {
    font-family: 'Georgia', 'Times', serif;
    font-size: 32px;
}

input {
    margin: 10px 0px 10px 0px;
}

#notification {
	height: 5%;	
}

#notification-paragraph{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	align-items: center;
	color: red;
	visibility: show;
}

#start-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

#start-button {
	-moz-box-shadow:inset 0px 0px 22px 10px #23395e;
	-webkit-box-shadow:inset 0px 0px 22px 10px #23395e;
	box-shadow:inset 0px 0px 22px 10px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6986b3), color-stop(1, #2d69e0));
	background:-moz-linear-gradient(top, #6986b3 5%, #2d69e0 100%);
	background:-webkit-linear-gradient(top, #6986b3 5%, #2d69e0 100%);
	background:-o-linear-gradient(top, #6986b3 5%, #2d69e0 100%);
	background:-ms-linear-gradient(top, #6986b3 5%, #2d69e0 100%);
	background:linear-gradient(to bottom, #6986b3 5%, #2d69e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6986b3', endColorstr='#2d69e0',GradientType=0);
	background-color:#6986b3;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:3px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:14px 48px;
	text-decoration:none;
	text-shadow:0px 1px 16px #263666;
}
#start-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2d69e0), color-stop(1, #6986b3));
	background:-moz-linear-gradient(top, #2d69e0 5%, #6986b3 100%);
	background:-webkit-linear-gradient(top, #2d69e0 5%, #6986b3 100%);
	background:-o-linear-gradient(top, #2d69e0 5%, #6986b3 100%);
	background:-ms-linear-gradient(top, #2d69e0 5%, #6986b3 100%);
	background:linear-gradient(to bottom, #2d69e0 5%, #6986b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d69e0', endColorstr='#6986b3',GradientType=0);
	background-color:#2d69e0;
}
#start-button:active {
	position:relative;
	top:1px;
}

#right-side {
    text-align: center; /*centruje w poziomie*/
    height: 100%;
    float: left;
    width: 49.725%;
    padding: 0%;
    margin: 0%;
}

#content {
  overflow: hidden;
  height:100vh;
  background: linear-gradient(#708090 10%, #778696 20%, #7E8D9B 30%, #8593A1 40%, #8D99A6 50%,
        #94A0AC 60%, #9BA6B1 70%, #A2ACB7 80%, #A9B3BC 90%, #B0B9C2 100%);
  border: 3px solid rgba(0,0,0,1);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#left-side {
    float: left;
    height:100%;
    width: 50%;
    /* odpowiedzialne za centrowanie */
    display: flex;
	justify-content: center;
  	align-items: center;
	padding: 0 50px;
}

th, td {
	text-align: center;
}

.table td, table th{
	font-size: 20px;
}

.label {
	font-size: 32px;
}

output {
    display: inline;
	font-size: 32px;
	color: #fff;
}

.item {
	font-size: 26px;
	width: 65%;
}

.sliders {
	height: 40%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*slidery*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


